## 데이터 불러오기

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

## 1. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [12]:
answer = df.groupby('Country')['Goals'].sum().sort_values(ascending=False).to_frame()
display(answer.head())

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

## 2. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [14]:
answer = df.groupby('Country')['Goals'].count().sort_values(ascending=False).head()
print(answer.head())

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Goals, dtype: int64

## 3. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [2]:
df['yearlst'] = df['Years'].str.split('-')
def check(x):
    for i in x:
        if len(i) != 4:
            return False
    return True

df['check'] = df['yearlst'].apply(check)

result = len(df.loc[df['check']==False])
print(result)

45

## 4. **Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다) **

In [4]:
df2 = df.loc[df['check']==True]
print(df2.shape[0])

1250

## 5. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [14]:
df2['LenCup'] = df2['yearlst'].str.len()
result = df2.loc[df2['LenCup']==4].shape[0]
print(result)

16

C:\Users\hw981\AppData\Local\Temp\ipykernel_11656\4270838856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['yearlst'].str.len()

## 6. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [20]:
answer = df2.loc[(df2['Country']=="Yugoslavia")&(df2['LenCup']==2)].count()[6]
print(answer)

7

## 7. 2002년도에 출전한 전체 선수는 몇명인가?

In [33]:
answer = len(df2.loc[df2['Years'].str.contains("2002")])
print(answer)

156

## 8. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [44]:
answer = df2['Player'].str.lower().str.contains('carlos').sum()
print(answer)

13

## 9. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [55]:
answer = df2.loc[df2['LenCup']==1].sort_values(by='Goals', ascending=False).head(1)['Player'].values[0]
print(answer)

Just Fontaine

## 10. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [68]:
answer = df2.loc[df2['LenCup']==1].groupby('Country')['Player'].count().sort_values(ascending=False).idxmax()
print(answer)

Brazil