## 데이터 불러오기

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## 1. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [2]:
answer = df.loc[df['행복랭킹']==10]['점수'].mean()
print(answer)

7.259

## 2. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [3]:
answer = df.loc[df['행복랭킹'] <= 50].groupby(by='년도')[['점수']].mean()
display(answer)

           점수
년도
2018  6.64678
2019  6.67002

## 3. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [4]:
answer = df.loc[df['년도']==2018, ['점수', '부패에 대한인식']].corr().iloc[0, 1]
print(answer)

0.40529152271510027

## 4. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [5]:
answer = df.duplicated(subset=['행복랭킹', '나라명']).sum()
print(answer)

15

## 5. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [6]:
# 못 품
target = df.loc[df['년도']==2019].drop(columns=['행복랭킹', '나라명', '년도']).corr().unstack().to_frame().reset_index().dropna()
result = target.loc[target[0] != 1].sort_values(0, ascending=False).drop_duplicates(0)
answer = result.head().reset_index(drop=True)
answer.columns = ['v1', 'v2', 'corr']
display(answer)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1     점수  상대GDP  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  상대GDP  사회적지원  0.754906

## 6. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [7]:
answer = df.sort_values('행복랭킹', ascending=False).head(10).groupby('년도')[['점수']].mean()
print(answer)

          점수
년도
2018  3.1800
2019  3.1408

## 7. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [8]:
me = df.loc[df['년도']==2019, '상대GDP'].mean()
target1 = df.loc[(df['년도'] == 2019)&(df['상대GDP'] > me), '상대GDP'].mean()
target2 = df.loc[(df['년도'] == 2019)&(df['상대GDP'] < me), '상대GDP'].mean()
answer = target1 - target2
print(answer)

0.6765307486631016

## 8. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [9]:
answer = df.sort_values(by='부패에 대한인식', ascending=False).groupby('년도').head(20).groupby('년도')['부패에 대한인식'].mean()
print(answer)

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

## 9. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [22]:
answer = sum(df.loc[(df['행복랭킹'] <= 50) & (df['년도']==2018) | (df['행복랭킹'] >= 50) & (df['년도']==2019), '나라명'].value_counts()==2)
print(answer)

4

## 10. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [63]:
count = df['나라명'].value_counts()
target = count[count>=2].index

df2 = df.loc[df['나라명'].isin(target)].reset_index(drop=True)
df2.loc[df2['년도']==2018, '점수'] = df2.loc[df2['년도']==2018, '점수'].values * (-1)
result = df2.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
print(result)

점수    0.87
Name: Burundi, dtype: float64