## 6/12(월)

### Pandas 작동 확인

In [2]:
import pandas as pd
import numpy as np

In [3]:
print(pd.__version__)

2.0.1

### Pandas 메서드

In [4]:
print(dir(pd))

# 'ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset',
# 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype',
# 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval',
# 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex',
# 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype',
# 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__',
# '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__',
# '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version',

# 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut',
# 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option',
# 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge',
# 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas',
# 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel',
# 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet',
# 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata',
# 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test',
# 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique',
# 'util', 'value_counts', 'wide_to_long'

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [6]:
print(dir(pd.DataFrame))

# 'T', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap',
# 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time',
# 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes',
# 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff',
# 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty',
# 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index',
# 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax',
# 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull',
# 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc',
# 'lt', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply',
# 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot',
# 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex',
# 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv',
# 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis',
# 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'sparse', 'squeeze', 
# 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 
# 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 
# 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 
# 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 
# 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs'

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_sliced', '_create_data_for_split_and_tight_to_dict', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [7]:
print(dir(pd.Series))

# 'T', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 
# 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr',
# 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 
# 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 
# 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna',
# 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize',
# 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt',
# 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate',
# 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items',
# 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean',
# 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest',
# 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product',
# 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis',
# 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 
# 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift',
# 'size', 'skew', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum',
# 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 
# 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 
# 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert',
# 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs'

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### DataFrame 생성

In [16]:
# 1. dict 이용 
print("1. dict 이용한 DataFrame 생성")
df = pd.DataFrame({"col1" : [4 ,5, 6],
                   "col2" : [7, 8, 9],
                   "col3" : [10, 11, 12]})
print(df, type(df))

# 2. 중첩 리스트 이용한 DataFrame 생성 => ndarray도 가능
print("2. 중첩 리스트 이용")
df = pd.DataFrame([[4, 7, 10],[5, 8, 11],[6, 9, 12]],
                  index=['a', 'b', 'c'],
                  columns=['col1', 'col2', 'col3'])
print(df, type(df))

1. dict 이용한 DataFrame 생성
   col1  col2  col3
0     4     7    10
1     5     8    11
2     6     9    12 <class 'pandas.core.frame.DataFrame'>
2. 중첩 리스트 이용
   col1  col2  col3
a     4     7    10
b     5     8    11
c     6     9    12 <class 'pandas.core.frame.DataFrame'>

In [19]:
# 3.  DataFrame 생성 - Series 사용
print("3. DataFrame 생성")
name =     pd.Series(["유관순","안중근"])
age =      pd.Series([18,31])
birthday = pd.Series(['1920/09/28','1910/03/26'])

hero = pd.DataFrame([name,age,birthday])
hero.columns =["hero1", "hero2"]
hero.index =["이름","나이","생일"]
print(hero, type(hero), '\n')
print(hero.T, type(hero.T))

3. DataFrame 생성
         hero1       hero2
이름         유관순         안중근
나이          18          31
생일  1920/09/28  1910/03/26 <class 'pandas.core.frame.DataFrame'>

        이름  나이          생일
hero1  유관순  18  1920/09/28
hero2  안중근  31  1910/03/26 <class 'pandas.core.frame.DataFrame'>

## 6/13(화)

In [9]:
import pandas as pd
import numpy as np

### 인덱스 및 컬럼명 변경

In [3]:
# 컬럼명 변경
df = pd.DataFrame({"col1" : [4 ,5, 6],
                   "col2" : [7, 8, 9],
                   "col3" : [10, 11, 12]})
print(df)
df.columns = ['c1', 'c2', 'c3']
print(df)

   col1  col2  col3
0     4     7    10
1     5     8    11
2     6     9    12
   c1  c2  c3
0   4   7  10
1   5   8  11
2   6   9  12

In [4]:
# 인덱스 변경
df = pd.DataFrame({"col1" : [4 ,5, 6],
                   "col2" : [7, 8, 9],
                   "col3" : [10, 11, 12]}, index=['A', 'B', 'C'])
print(df)
df.index = [10, 20, 30]
print(df)

   col1  col2  col3
A     4     7    10
B     5     8    11
C     6     9    12
    col1  col2  col3
10     4     7    10
20     5     8    11
30     6     9    12

### DataFrame의 속성 정보 보기

In [10]:
df = pd.DataFrame({"col1" : [4 ,5, 6],
                   "col2" : [7, 8, 9],
                   "col3" : [10, 11, 12]}, index=['A', 'B', 'C'])
print('컬럼 정보:', df.columns)
print('컬럼 정보:', df.keys())

print('인덱스 정보:', df.index)

print('값 정보 확인:', df.values)
print('값 정보 확인:', df.to_numpy()) # 권장

컬럼 정보: Index(['col1', 'col2', 'col3'], dtype='object')
컬럼 정보: Index(['col1', 'col2', 'col3'], dtype='object')
인덱스 라벨 정보: Index(['A', 'B', 'C'], dtype='object')
값 정보 확인: [[ 4  7 10]
 [ 5  8 11]
 [ 6  9 12]]
값 정보 확인: [[ 4  7 10]
 [ 5  8 11]
 [ 6  9 12]]

### 인덱스 관리

In [6]:
df = pd.DataFrame({ "date":['2021','2022'],
                   "City": ["Seoul", "Seoul"],
                   "Temperature": [32, 34]})
print("1. 원본 DataFrame")
print(df, '\n')

# 1) 기존 컬럼을 인덱스로 변경
print("기존 컬럼을 인덱스로 변경")
df.set_index('date', inplace=True)
print(df, df.index, '\n')

# 2) 새로운 인덱스로 변경
print("새로운 인덱스로 변경")
df.reset_index(inplace=True)                # 기존 인덱스를 컬럼으로 변경하고 새로운 인덱스 생성
df.reset_index(inplace=True, drop=True)   # 기존 인덱스를 삭제하고 새로운 인덱스 생성
print(df, df.index)

1. 원본 DataFrame
   date   City  Temperature
0  2021  Seoul           32
1  2022  Seoul           34

기존 컬럼을 인덱스로 변경
       City  Temperature
date
2021  Seoul           32
2022  Seoul           34 Index(['2021', '2022'], dtype='object', name='date')

새로운 인덱스로 변경
   date   City  Temperature
0  2021  Seoul           32
1  2022  Seoul           34 RangeIndex(start=0, stop=2, step=1)

In [27]:
df = pd.DataFrame({ "date":['2021','2022','2012','2023','2024'],
                    "City": ["Seoul", "Seoul", "Seoul","Seoul","Seoul"],
                    "Temperature": [32, 34,32, 34,53]
                  },index=list('AECBD'))
print(df)

# 3) index 재배치
new_df = df.reindex(index=list("ABCDE"))
print("2. index 재배치")
print(new_df)

   date   City  Temperature
A  2021  Seoul           32
E  2022  Seoul           34
C  2012  Seoul           32
B  2023  Seoul           34
D  2024  Seoul           53
2. index 재배치
   date   City  Temperature
A  2021  Seoul           32
B  2023  Seoul           34
C  2012  Seoul           32
D  2024  Seoul           53
E  2022  Seoul           34

In [3]:
# 4) df 병합시 기존 index값이 중복발생 ==> ignore_index=True 로 index값을 재설정
df1 = pd.DataFrame({'a':[12,2]},
                   index=[1,2])
df2 = pd.DataFrame({'a':[120,20]},
                   index=[1,2])

new_df = pd.concat([df1, df2])
print(new_df)
new_df = pd.concat([df1, df2], ignore_index=True)
print(new_df)

     a
1   12
2    2
1  120
2   20
     a
0   12
1    2
2  120
3   20

### 색인

In [6]:
# 컬럼 조회
# 1. 싱글 및 멀티 컬럼 조회
df = pd.DataFrame({"col1" : [4 ,5, 6, 6],
                   "col2" : [7, 8, 9, 9],
                   "col3" : [10, 11, 12, 12]},
                   index = list("ABCD"))

print("1. col1 컬럼만 조회")
print(df.col1 )     # Series 반환

print("2. col1 컬럼만 조회")
print(df['col1'])  # Series 반환

print("3. col1와 col2 컬럼 조회")
print(df[['col2', 'col1']])  # fancy 색인 비슷 , # DataFrame 반환

print("4. col1 컬럼만 여러번 조회")
print(df[['col1','col1','col1']])  # DataFrame 반환

1. col1 컬럼만 조회
A    4
B    5
C    6
D    6
Name: col1, dtype: int64
2. col1 컬럼만 조회
A    4
B    5
C    6
D    6
Name: col1, dtype: int64
3. col1와 col2 컬럼 조회
   col2  col1
A     7     4
B     8     5
C     9     6
D     9     6
4. col1 컬럼만 여러번 조회
   col1  col1  col1
A     4     4     4
B     5     5     5
C     6     6     6
D     6     6     6

In [8]:
# 행 조회
df = pd.DataFrame({"col1" : [4 ,5, 6, 6,1],
                   "col2" : [7, 8, 9, 9,2],
                   "col3" : [10, 11, 12, 12,10]},
                   index = list("ABCDE"))
print(df)

# df.loc 
print("1. A 행 출력(인덱싱 label)")
print(df.loc["A"])
print("2. A 와 B행 출력(fancy label)")
print(df.loc[["A","B"]])
print("3. B행부터 D행까지 출력(slicing label)")
print(df.loc["B":"D"])
print("4. A,C,E행 출력(boolean label)") # 일반적으로 비교연산자, 논리연산자 사용
print(df.loc[[True,False,True,False,True]])

   col1  col2  col3
A     4     7    10
B     5     8    11
C     6     9    12
D     6     9    12
E     1     2    10
1. A 행 출력(인덱싱 label)
col1     4
col2     7
col3    10
Name: A, dtype: int64
2. A 와 B행 출력(fancy label)
   col1  col2  col3
A     4     7    10
B     5     8    11
3. B행부터 D행까지 출력(slicing label)
   col1  col2  col3
B     5     8    11
C     6     9    12
D     6     9    12
4. A,C,E행 출력(boolean label)
   col1  col2  col3
A     4     7    10
C     6     9    12
E     1     2    10

In [12]:
## df.iloc 
print(df)
print("1. A 행 출력(인덱싱 위치)")
print(df.iloc[0])
print("2. A 와 B행 출력(fancy 위치)")
print(df.iloc[[0,1]])
print("3. B행부터 D행까지 출력(slicing label)")
print(df.iloc[1:-1])
print("4. A,C,E행 출력(boolean label)")
print(df.iloc[[True,False,True,False,True]])

   col1  col2  col3
A     4     7    10
B     5     8    11
C     6     9    12
D     6     9    12
E     1     2    10
1. A 행 출력(인덱싱 위치)
col1     4
col2     7
col3    10
Name: A, dtype: int64
2. A 와 B행 출력(fancy 위치)
   col1  col2  col3
A     4     7    10
B     5     8    11
3. B행부터 D행까지 출력(slicing label)
   col1  col2  col3
B     5     8    11
C     6     9    12
D     6     9    12
4. A,C,E행 출력(boolean label)
   col1  col2  col3
A     4     7    10
C     6     9    12
E     1     2    10

In [7]:
# 행, 열 선택 추출
df = pd.DataFrame({"col1" : [4 ,5, 6, 6,1],
                   "col2" : [7, 8, 9, 9,2],
                   "col3" : [10, 11, 12, 12,10]},
                   index = list("ABCDE"))

# loc
print("df.loc['A', 'col1']:", df.loc['A', 'col1']) # 인덱싱
print("df.loc[['A', 'B'], 'col1']:", df.loc[['A', 'B'], 'col1']) # 인덱싱 + fancy
print("df.loc[['A', 'B'], ['col1', 'col2']]:\n", df.loc[['A', 'B'], ['col1', 'col2']]) # fancy + fancy
print("df.loc['B':'E', ['col1', 'col2']]:\n", df.loc['B':'E', ['col1', 'col2']]) # slice + fancy
print("df.loc['B':'E', 'col2':'col3']:\n", df.loc['B':'E', 'col2':'col3']) # slice + slice
print("df.loc[[True, False, True, False, True], 'col2':'col3']:\n", df.loc[[True, False, True, False, True], 'col2':'col3']) # boolean + slice

df.loc['A', 'col1']: 4
df.loc[['A', 'B'], 'col1']: A    4
B    5
Name: col1, dtype: int64
df.loc[['A', 'B'], ['col1', 'col2']]:
    col1  col2
A     4     7
B     5     8
df.loc['B':'E', ['col1', 'col2']]:
    col1  col2
B     5     8
C     6     9
D     6     9
E     1     2
df.loc['B':'E', 'col2':'col3']:
    col2  col3
B     8    11
C     9    12
D     9    12
E     2    10
df.loc[[True, False, True, False, True], 'col2':'col3']:
    col2  col3
A     7    10
C     9    12
E     2    10

In [8]:
df = pd.DataFrame({"col1" : [4 ,5, 6, 6,1],
                   "col2" : [7, 8, 9, 9,2],
                   "col3" : [10, 11, 12, 12,10]},
                   index = list("ABCDE"))

print("df.iloc[0, 0]:", df.iloc[0, 0]) # 인덱싱
print("df.iloc[[0, 1], 0]:\n", df.iloc[[0, 1], 0]) # 인덱싱 + fancy
print("df.iloc[[0,  1], [0, 1]]:\n", df.iloc[[0,  1], [0, 1]]) # fancy + fancy
print("df.iloc[1:, [0, 1]]:\n", df.iloc[1:, [0, 1]]) # slice + fancy
print("df.iloc[1:, 1:]:\n", df.iloc[1:, 1:]) # slice + slice
print("df.iloc[[True, False, True, False, True], 1:]:\n", df.iloc[[True, False, True, False, True], 1:]) # boolean + slice

df.iloc[0, 0]: 4
df.iloc[[0, 1], 0]:
 A    4
B    5
Name: col1, dtype: int64
df.iloc[[0,  1], [0, 1]]:
    col1  col2
A     4     7
B     5     8
df.iloc[1:, [0, 1]]:
    col1  col2
B     5     8
C     6     9
D     6     9
E     1     2
df.iloc[1:, 1:]:
    col2  col3
B     8    11
C     9    12
D     9    12
E     2    10
df.iloc[[True, False, True, False, True], 1:]:
    col2  col3
A     7    10
C     9    12
E     2    10

In [34]:
## 조회후 값 변경
df = pd.DataFrame({"col1" : [4 ,5, 6, 6,1],
                   "col2" : [7, 8, 9, 9,2],
                   "col3" : [10, 11, 12, 12,10]},
                   index = list("ABCDE"))
print(df, '\n')

# loc
# 1. A행의 모든 값 변경
df.loc['A'] = 100
print(df, '\n')

# 2. B, C행의 모든 값 변경
df.loc[['A', 'B']] = 200
print(df, '\n')

   col1  col2  col3
A     4     7    10
B     5     8    11
C     6     9    12
D     6     9    12
E     1     2    10

   col1  col2  col3
A   100   100   100
B     5     8    11
C     6     9    12
D     6     9    12
E     1     2    10

   col1  col2  col3
A   200   200   200
B   200   200   200
C     6     9    12
D     6     9    12
E     1     2    10

In [36]:
# 3. D행의 col2 값을 900으로 변경
df.loc['D', 'col2'] = 900
print(df, '\n')

# 4. D, E행의 col1, col3 값을 -1으로 변경
df.loc[['D', 'E'], ['col1', 'col3']] = -1
print(df, '\n')

# 5. A:D행의 col2, col3 값을 -100로 변경
df.loc['A':'D', 'col2':'col3'] = -100
print(df, '\n')

   col1  col2  col3
A   200   200   200
B   200   200   200
C     6     9    12
D    -1   900    -1
E    -1     2    -1

   col1  col2  col3
A   200   200   200
B   200   200   200
C     6     9    12
D    -1   900    -1
E    -1     2    -1

   col1  col2  col3
A   200  -100  -100
B   200  -100  -100
C     6  -100  -100
D    -1  -100  -100
E    -1     2    -1

In [38]:
# iloc
df.iloc[[0, 2], [0, 2]] = -1000
print(df, '\n')

df.iloc[[True, True, True, True, True], [0, 2]] = -2000
print(df)

   col1  col2  col3
A -1000  -100 -1000
B   200  -100  -100
C -1000  -100 -1000
D    -1  -100  -100
E    -1     2    -1

   col1  col2  col3
A -2000  -100 -2000
B -2000  -100 -2000
C -2000  -100 -2000
D -2000  -100 -2000
E -2000     2 -2000

### 컬럼 추가, 삽입

In [19]:
df = pd.DataFrame({"이름":['홍길동','이순신','유관순','강감찬'],
                   "국어":[30, 26, 11, 10],
                   "수학":[20, 12, 20, 12]
                 }, index=[1,2,3,4])
# 1. DataFrame 생성
print("1. DataFrame")
print(df)

# 2. df['컬럼명'] = List
df['영어'] = [10, 20, 30, 40]
print('2. add column(List)')
print(df)

# 3. df['컬럼명'] = Series
df['과학'] = pd.Series(data=[10, 20, 30, 40]) # index가 0부터 생성 -> index를 맞춰줘야 함
df['과학'] = pd.Series(data=[10, 20, 30, 40], index=[1, 2, 3, 4])
print('2. add column(Series)')
print(df)

1. DataFrame
    이름  국어  수학
1  홍길동  30  20
2  이순신  26  12
3  유관순  11  20
4  강감찬  10  12
2. add column(List)
    이름  국어  수학  영어
1  홍길동  30  20  10
2  이순신  26  12  20
3  유관순  11  20  30
4  강감찬  10  12  40
2. add column(Series)
    이름  국어  수학  영어  과학
1  홍길동  30  20  10  10
2  이순신  26  12  20  20
3  유관순  11  20  30  30
4  강감찬  10  12  40  40

In [20]:
# 총합 추가
print('2. add column')
df['총합'] = df['영어'] + df['과학'] + df['국어'] + df['수학']
print(df, '\n')
df['평균'] = np.round(df['총합'] / 4, 1)
print(df)
# 평균 ==> series에 데이터 타입을 변경하는 함수
df['평균'] = df['평균'].astype(np.int32)
print(df)

2. add column
    이름  국어  수학  영어  과학   총합
1  홍길동  30  20  10  10   70
2  이순신  26  12  20  20   78
3  유관순  11  20  30  30   91
4  강감찬  10  12  40  40  102

    이름  국어  수학  영어  과학   총합    평균
1  홍길동  30  20  10  10   70  17.5
2  이순신  26  12  20  20   78  19.5
3  유관순  11  20  30  30   91  22.8
4  강감찬  10  12  40  40  102  25.5
    이름  국어  수학  영어  과학   총합  평균
1  홍길동  30  20  10  10   70  17
2  이순신  26  12  20  20   78  19
3  유관순  11  20  30  30   91  22
4  강감찬  10  12  40  40  102  25

In [24]:
# 실습: 평균 > 20이면 합격, 아니면 불합격
df['햡격여부'] = ['합격' if i > 20 else '불합격' for i in df['평균']]
print(df)

    이름  국어  수학  영어  과학   총합  평균 햡격여부
1  홍길동  30  20  10  10   70  17  불합격
2  이순신  26  12  20  20   78  19  불합격
3  유관순  11  20  30  30   91  22   합격
4  강감찬  10  12  40  40  102  25   합격

In [40]:
df = pd.DataFrame({"이름":['홍길동','이순신','유관순','강감찬'],
                   "국어":[30, 26, 11, 10],
                   "수학":[20, 12, 20, 12]
                 }, index=[1,2,3,4])

print('3. df.assign() 이용 추가')
# new_df = df.assign(영어 = [10, 20, 30, 40]) # 원본유지
df = df.assign(영어 = [10, 20, 30, 40]) # 덮어쓰기
print(df)

print('3. df.assign(콜백함수) 이용 추가')
def total(x):
    return x['국어'] + x['수학'] + x['영어']
# df = df.assign(총합=total)
df = df.assign(총합=lambda x: x['국어'] + x['수학'] + x['영어'],
               총합2=lambda x: x['국어'] + x['수학'] + x['영어']) # 한 번에 여러 컬럼 생성 가능
print(df)

# 평균 컬럼 추가하기
df = df.assign(평균=lambda x: np.round(x['총합']/3, 1))
print(df)

3. df.assign() 이용 추가
    이름  국어  수학  영어
1  홍길동  30  20  10
2  이순신  26  12  20
3  유관순  11  20  30
4  강감찬  10  12  40
3. df.assign(콜백함수) 이용 추가
    이름  국어  수학  영어  총합  총합2
1  홍길동  30  20  10  60   60
2  이순신  26  12  20  58   58
3  유관순  11  20  30  61   61
4  강감찬  10  12  40  62   62
    이름  국어  수학  영어  총합  총합2    평균
1  홍길동  30  20  10  60   60  20.0
2  이순신  26  12  20  58   58  19.3
3  유관순  11  20  30  61   61  20.3
4  강감찬  10  12  40  62   62  20.7

In [41]:
df = pd.DataFrame({"이름":['홍길동','이순신','유관순','강감찬'], "국어":[30, 26, 11, 10], "수학":[20, 12, 20, 12]}, index=[1,2,3,4])
df2 = pd.DataFrame({"영어":[30, 26, 11, 10], "과학":[20, 12, 20, 12]}, index=[1,2,3,4])

new_df = pd.concat([df, df2], axis=1)
print(new_df)

    이름  국어  수학  영어  과학
1  홍길동  30  20  30  20
2  이순신  26  12  26  12
3  유관순  11  20  11  20
4  강감찬  10  12  10  12

In [42]:
# 컬럼 삽입
df = pd.DataFrame({"이름":['홍길동','이순신','유관순','강감찬'], "국어":[30, 26, 11, 10], "수학":[20, 12, 20, 12]}, index=[1,2,3,4])
df.insert(1, "영어", [30, 26, 11, 10])
print(df)

    이름  영어  국어  수학
1  홍길동  30  30  20
2  이순신  26  26  12
3  유관순  11  11  20
4  강감찬  10  10  12

### 컬럼 삭제

In [53]:
df = pd.DataFrame({"이름":['홍길동','이순신','유관순','강감찬'], "국어":[30, 26, 11, 10], "수학":[20, 12, 20, 12], "영어":[30, 26, 11, 10], "과학":[20, 12, 20, 12],
                   "체육":[30, 26, 11, 10], "보건":[20, 12, 20, 12], "화학":[30, 26, 11, 10], "수리":[20, 12, 20, 12]}, index=[1,2,3,4])

In [54]:
# 단일 컬럼 삭제
print('원본 DataFrame')
print(df, '\n')

df.pop('국어')
print('df.pop("국어")\n', df, '\n')

del df['수학']
print("del df['수학']\n", df)

원본 DataFrame
    이름  국어  수학  영어  과학  체육  보건  화학  수리
1  홍길동  30  20  30  20  30  20  30  20
2  이순신  26  12  26  12  26  12  26  12
3  유관순  11  20  11  20  11  20  11  20
4  강감찬  10  12  10  12  10  12  10  12

df.pop("국어")
     이름  수학  영어  과학  체육  보건  화학  수리
1  홍길동  20  30  20  30  20  30  20
2  이순신  12  26  12  26  12  26  12
3  유관순  20  11  20  11  20  11  20
4  강감찬  12  10  12  10  12  10  12

del df['수학']
     이름  영어  과학  체육  보건  화학  수리
1  홍길동  30  20  30  20  30  20
2  이순신  26  12  26  12  26  12
3  유관순  11  20  11  20  11  20
4  강감찬  10  12  10  12  10  12

In [55]:
# 다중 컬럼 삭제
df.drop(columns=['영어', '과학'], inplace=True)
print("df.drop(columns=['영어', '과학'], inplace=True)\n", df, '\n')
df.drop(['체육', '보건'], inplace=True, axis=1)
print("df.drop(['체육', '보건'], inplace=True, axis=1)\n", df)

df.drop(columns=['영어', '과학'], inplace=True)
     이름  체육  보건  화학  수리
1  홍길동  30  20  30  20
2  이순신  26  12  26  12
3  유관순  11  20  11  20
4  강감찬  10  12  10  12

df.drop(['체육', '보건'], inplace=True, axis=1)
     이름  화학  수리
1  홍길동  30  20
2  이순신  26  12
3  유관순  11  20
4  강감찬  10  12

### 행 추가

In [63]:
# pd.concat
info={"Name":["유관순","안중근"],"age":[18,31],"birthday":['1920/09/28','1910/03/26']}
df = pd.DataFrame(info)
info2 = {"Name":["홍길동","강감찬"],"age":[22,43],"birthday":['1990/09/28','1980/03/26']}
df2 = pd.DataFrame(info2)
print('df:', df, 'df2:', df2, sep='\n')

new_df= pd.concat([df, df2], axis=0, ignore_index=True) # axis 기본값은 0 / 한 번에 여러개도 지정 가능하다.
print('new_df:\n', new_df)

df:
  Name  age    birthday
0  유관순   18  1920/09/28
1  안중근   31  1910/03/26
df2:
  Name  age    birthday
0  홍길동   22  1990/09/28
1  강감찬   43  1980/03/26
new_df:
   Name  age    birthday
0  유관순   18  1920/09/28
1  안중근   31  1910/03/26
2  홍길동   22  1990/09/28
3  강감찬   43  1980/03/26

### 행 삭제

In [67]:
df = pd.DataFrame({"이름":['홍길동','이순신','유관순','강감찬'], "국어":[30, 26, 11, 10], "수학":[20, 12, 20, 12]}, index=[1,2,3,4])
print('df:\n', df)
df.drop(index=[1, 2], inplace=True) # 인덱스명. 
print("df.drop(index=[1, 2], inplace=True):\n", df)
df.drop([3], inplace=True, axis=0)
print("df.drop([3], axis=0, inplace=True):\n", df)

df:
     이름  국어  수학
1  홍길동  30  20
2  이순신  26  12
3  유관순  11  20
4  강감찬  10  12
df.drop(index=[1, 2], inplace=True):
     이름  국어  수학
3  유관순  11  20
4  강감찬  10  12
df.drop([3], axis=0, inplace=True):
     이름  국어  수학
4  강감찬  10  12