## 라이브러리

In [1]:
import pandas as pd
import pandas as numpy
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

## 데이터 불러오기

In [2]:
X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_test.csv")
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_test.csv')

display(X_train.head())
display(y_train.head())

   ID  age     sex     bmi  children smoker     region
0   2   35  female  35.860         2     no  southeast
1   3   28  female  23.845         2     no  northwest
2   4   23  female  32.780         2    yes  southeast
3   6   52  female  25.300         2    yes  southeast
4   7   63    male  39.800         3     no  southwest

   ID      charges
0   2   5836.52040
1   3   4719.73655
2   4  36021.01120
3   6  24667.41900
4   7  15170.06900

## EDA

### shape

In [3]:
print(X_train.shape)
print('-'*80)
print(y_train.shape)
print('-'*80)
print(X_test.shape)
print('-'*80)

(1070, 7)
--------------------------------------------------------------------------------
(1070, 2)
--------------------------------------------------------------------------------
(268, 7)
--------------------------------------------------------------------------------

### info

In [4]:
print(X_train.info())
print('-'*80)
print(y_train.info())
print('-'*80)
print(X_test.info())
print('-'*80)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1070 non-null   int64
 1   age       1070 non-null   int64
 2   sex       1070 non-null   object
 3   bmi       1070 non-null   float64
 4   children  1070 non-null   int64
 5   smoker    1070 non-null   object
 6   region    1070 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 58.6+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       1070 non-null   int64
 1   charges  1070 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 16.8 KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        268 non-null    int64
 1   age       268 non-null    int64
 2   sex       268 non-null    object
 3   bmi       268 non-null    float64
 4   children  268 non-null    int64
 5   smoker    268 non-null    object
 6   region    268 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 14.8+ KB
None
--------------------------------------------------------------------------------

### isna

In [5]:
print(X_train.isna().sum().sum())
print('-'*80)
print(y_train.isna().sum().sum())
print('-'*80)
print(X_test.isna().sum().sum())
print('-'*80)

0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------

### 불필요 데이터 제거

In [12]:
X_train = X_train.drop(columns = 'ID')
X_test = X_test.drop(columns = 'ID')
y_train = y_train.drop(columns = 'ID')

## Feature Engineering

### 표준화

In [43]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()
X_train[['age', 'bmi']] = Scaler.fit_transform(X_train[['age', 'bmi']])
X_test[['age', 'bmi']] = Scaler.fit_transform(X_test[['age', 'bmi']])

### 원핫인코딩

In [27]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

### 데이터 분류

In [28]:
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, test_size=0.3)

## 모델링

### 랜덤포레스트

In [37]:
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor()
modelRF.fit(X_tr,y_tr)
modelRF.score(X_tr, y_tr)

C:\Users\inseo\AppData\Local\Temp\ipykernel_3684\2778398816.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr,y_tr)

0.976219613209097

## 모델 학습 예측 및 평가

In [40]:
from sklearn.metrics import r2_score
y_pred = modelRF.predict(X_ts)
print('modelRF r2_score', r2_score(y_ts, y_pred))

modelRF r2_score 0.8343821352295837